@use '../global/' as *;

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

tr, td {
  padding: 1px 0;
}

tr {
  padding: 8px;
  border-bottom: 1px solid $gray-light;
  display: flex;
  flex-direction: column;
}

th {
  font-weight: normal;
}

td {
  padding-left: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 4px;
    width: 10px;
    height: 1px;
    background-color: $text-color;
  }
}

tbody {
  border-top: 1px solid $gray-light;
}
